div.navbar-wrapper
    Icon.navbar-icon.navbar-toggle-icon(
        name="chevron-right",
        title="Toggle navbar",
        :class="{ expanded: expanded }",
        :horizontal-flip="expanded",
        @click.native="toggleExpanded"
    )

    transition(name="navbar")
        aside.navbar(v-if="expanded")
            div.navbar-contents
                button.button.navbar-button.navbar-button-toggle(@click="hideNavbar") Hide navbar

                div(v-for="route in routes")
                    a.button.navbar-button.navbar-route-button(
                        v-i-href="route.path",
                        :class="{ active: isActive(route) }",
                    )

                        Icon.navbar-icon.navbar-route-icon(:name="route.name")
                        span.navbar-route-text {{ route.name }}

                        Icon.navbar-icon.navbar-route-icon.navbar-route-chevron(
                            name="chevron-up",
                            :style="{ visibility: route.hasChildren ? 'visible' : 'hidden' }",
                            :vertical-flip="isActive(route)"
                        )

                    transition-group(name="accordeon")
                        a.button.navbar-button.navbar-subroute-button(
                            :key="subroute.path"
                            v-if="isActive(route)"
                            v-for="subroute in page.subroutes",
                            v-i-href="subroute.path",
                            :class="{ active: page.subroute === subroute }",
                        ) {{ subroute.name }}
